* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: crimson;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: rgb(217, 224, 239);
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgb(25, 139, 162) 100%);
}

header {
    background-color: black;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    >img{
        /* padding: 0 20px; */
        margin-left: 1rem;
        width: 45px;
    }

    >p {
        padding: 0 20px;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 600;
    }
}

.container {
    width: 100%;
    max-height: 100vh;
    padding: 10px;

    >div {
        border-radius: 20px;
        background-color: #f3f6f7;
        height: 100%;
        max-width: 540px;
        margin: 100px auto 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        >p {
            font-size: 22px;
            padding: 10px;
            display: flex;
            align-items: center;

            >img {
                width: 10%;
            }
        }

        >input {
            font-size: 16px;
            max-width: 540px;
            padding: 10px;
            margin: 10px;
            border-radius: 15px;
            border-width: 1;
            border: 0;
            outline: 0;
            border: 2px solid rgb(216, 216, 239);

            &::-webkit-input-placeholder {
                letter-spacing: 2px;
            }
        }

        >button {
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            border-radius: 15px;
            border: 0;
            outline: 0;
            background-color: rgb(0, 0, 0);
            color: #fff;
            font-size: 17px;
            user-select: none;
            transition: all 0.5s ease;

            &:hover {
                background-color: blueviolet;
            }
        }

        >ul {
            user-select: none;
            cursor: pointer;
            list-style: none;

            >li {
                display: grid;
                grid-template-columns: 10fr 1fr;
                background-color: rgb(198, 215, 233);
                margin: 10px;
                border-radius: 10px;
                padding: 6px;
                color: #000000;
                font-size: 17px;

                .checked {
                    text-decoration: line-through;
                    color: #555;
                }

                >span {
                    color: #000000;
                    font-size: 25px;
                    cursor: pointer;
                    background-color: rgb(224, 224, 241);
                    width: 33px;
                    height: 33px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: all 0.5s;
                    &:hover {
                        background-color: #555;
                        color: #fff;
                    }
                }
            }

        }
    }
}